/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {    /* font 1 */
    font-family: 'Akira Expanded';
    src: url('../assets/fonts/Akira\ Expanded\ Demo.otf');
}

html, body{
    height: 100%;
    margin: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/img/backGroundImg.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    min-width: 300px;
}

header {
    flex: 1;
}

footer {
    max-height: auto;
    background-color: white;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* Nav bar*/
    /* laptop nav */
    .topNavHeaderContent { /* the whole nav */
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1300px;
        margin: 30px auto;
        padding: 0 30px;
    }

    #laptopLogo {
        width: 280px;
    }

    .navList { /* laptop nav buttons*/
        display: flex;
        column-gap: 60px;
    }

    .navItem:first-child { /* space between product and logo*/
        margin-left: 60px;
    }

    .navLink {
        font-family: 'Akira Expanded', sans-serif;
        font-size: 20px; 
    }

    .navLink:hover,
    .navLink:focus { /* orange hover effect */
        color: #FF8228;
        transition: 0.5s; 
    }


    /* mobile nav */
    .sideNavHeaderContent { /* all items in header */
        display: none;
        height: auto;
        justify-content: space-between;
        align-items: center;
        max-width: 994px;
        margin: 36px auto auto 10px;
        padding: 0 20px;
    }

    .mobileNavHamburger {
        align-self: center;
    }

    .hamburger img {
        width: 28px;
    }

    .hamburger {
        all: unset;
        display: none;
        transition: filter 1.0s ease;
    }

    .hamburger.black {
        color: black;
    }

    .hamburger.white {
        color: white;
    }

    .hamburger.invert {
        filter: invert(1);
    }

    #mobileLogoPng{
        position: absolute;
        width: 170px;
        top: 20px;
        left: 50%;
        transform: translateX(-54%);
    }

    #mobileLogoPng {
        transition: filter 1.0s ease;
    }

    #mobileLogoPng.invert {
        filter: invert(1);
    }

    .mobileNavIcon { /* the icons container */
        z-index: 1;
        display: flex;
        column-gap: 16px;
        color: white;
    }

    .mobileNavIcon button {
        background-color: transparent; 
        border: none;
    }

    .icon {
        height: 25px;
        transition: filter 1.0s ease;
    }

    .icon.invert {
        filter: invert(1);
    }

    .mobileSearchSectionBG { /* the background container*/
        transform: translateY(-100%);
        transition: transform 0.8s ease; 
        z-index: -1;
        display: none;
        position: absolute;
        top: 0;
        background-color: white;
        height: 160px;
        width: 100%;
        margin: 0px auto;
        padding: 0px 20px;
    }

    .mobileSearchSectionBG.active {
        transform: translateY(0);
    }

    .mobileSearchSection { /* the content */
        font-family: 'Akira Expanded';
        display: none;
        background-color: black;
        justify-content: space-between;
        align-items: center;
        max-width: 700px;
        height: 33.5px;
        width: 100%;
        margin: 100px auto;
        border-radius: 20px;
        height: 50;
    }

    #mobileSearchInput { /* search bar */
        border-style: solid;
        border-radius: 20px;
        border-color: black;
        display: flex;
        padding: 5px;
        margin: 2px;
        margin-right: 20px;
        width: 100%;
        height: 50;
        justify-content: left;

        font-family: 'Akira Expanded';
        text-transform: uppercase;
        text-align: center;
        caret-color: black;
    }

    input:focus {
        outline: none;
        box-shadow: none;
    }


    #mobileSearchBtn { /* search button*/
        color: white;
        font-weight: bold;
        font-size: 1em;
        cursor: pointer;
        justify-content: right;
        margin-right: 20px;
    }




    .sideNav {
        width: 275px;
        background-color: white;
        display: none;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;

        transform: translateX(-100%); /* hidden at left */
        transition: transform 0.8s ease; /* sliding in */
    }

    .sideNav.active {
        transform: translateX(0);
    }

    .sideNav a {
        font-family: 'Akira Expanded', sans-serif;
        text-decoration: none;
        font-size: 20px;
        color: rgb(0, 0, 0);
        display: block;
        padding: 20px 40px;
    }

    .sideNav .close {
        font-size: 16px;
        margin-bottom: 60px;
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-underline-offset: 4px;
    }



    /* footer */
    footer:first-child {
        display: flex;
        flex-direction: column;
    }


@media (max-width:994px){
    /* show in mobile */
    .sideNav {
        display: block;
    }

    #hamburger {
        display: flex;
    }

    .sideNavHeaderContent {
        display: flex;
        flex-direction: row;
    }

    .mobileSearchSection {
        display: flex;
    }

    .mobileSearchSectionBG {
        display: block;
    }

    /* show in laptop*/
    .navList {
        display: none;
    }

    .topNavHeaderContent {
        display: none;
    }   
}

